<div class="container-fluid footer bg-dark  align-items-center ">
  <div class="row mt-0 ">
    <div class="col-12 mt-2 mb-3">
      <p >This side is created by<span >â¤</span>Ankit Mishra </p>
    </div>
  </div>
</div>