<!doctype html>
<html lang="en">
  <head>
   {{>header}}
    
  </head>
  <body>
    <!-- navbar start -->
         {{>navbar}}
   <!-- start   main-container -->


<h1>erro page is babu</h1>
<div class="container-fluid main-block mt-4 justify-content-center  ">
   <div class="row justify-content-center">
    <div class="col-md-5 col-12 main-block-right mt-3">
        <figure class="figure">
            <img src="image/err.jpg" alt=" app creater image"class="figure-img img-fluid rounded" alt="...">
            
          </figure>
        
           
    </div>
     <div class="col-md-5 col-12 main-block-left align-self-center">
        <p class="mb-0 text-primary">You reached wrong destination</p>
         <h2 class="mt-0 " >This page not found<spane class="text-danger">ERROR</spane></h2>
          <a href="/" class="box_shadow"><button  type="button" class="btn btn-danger">Go back</button></a>
    
    </div>



     </div>


   </div>


</div>

 <!-- footer start -->

{{>footer}}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>